---
useCases:
  auto-remediation-easytravel:
    previews:
    - section: easytravel-classic-web
      description: EasyTravel Web
      url: "{{ easytravel_classic_endpoint }}"
    - section: easytravel-classic-angular
      description: EasyTravel Web
      url: "{{ easytravel_classic_angular_endpoint }}"
    guides:
    - description: "Automated Remediation using Dynatrace, ServiceNow and Ansible"
      url: "{{ ingress_protocol }}://gitea.{{ ingress_domain }}/{{ demo_auto_remediation_org }}/{{ demo_auto_remediation_repo_name }}"

extRefs:
  ServiceNow:
    url: "https://{{ extra_vars.servicenow_instance_id }}.service-now.com"
    creds:
      - description: Username
        type: text
        value: "{{ extra_vars.servicenow_instance_user }}"
      - description: Password
        type: password
        value: "{{ extra_vars.servicenow_instance_password}}"
  EasyTravel Launcher:
    url: "{{ easytravel_classic_launcher_endpoint }}"
    description: "EasyTravel Launcher App is available at {{ easytravel_classic_launcher_endpoint }}"
  EasyTravel Web:
    url: "{{ easytravel_classic_endpoint }}"
    description: "EasyTravel Web is available at {{ easytravel_classic_endpoint }}. Note: you need to launch it first using the EasyTravel Launcher"
  EasyTravel Angular:
    url: "{{ easytravel_classic_angular_endpoint }}"
    description: "EasyTravel Web is available at {{ easytravel_classic_angular_endpoint }}. Note: you need to launch it first using the EasyTravel Launcher"
